
<style>
    .list li {
        text-align: left;
        padding: 0.6rem 2rem;
        width: 90%;
    }
    .value-block {
      text-indent: 7%;
    }
    .date-block {
      text-indent: 3%;
    }
</style>

<h2>Here Are The Results Of Your Search</h2>
<ul class="list">
  {{#each allData}}
  <li>
    <a href="/tender/{{id}}">
      <h3>{{department}}</h3>
    </a>
      <p>{{description}}</p>
      <p class="date-block">{{awardedDate}}</p>
      <p class="value-block">R {{value}}</p>
  </li>
  <hr>
  {{/each}}
</ul>
