
<style>
    li {
        text-align: left;
        padding: 0.6rem 2rem;
    }
</style>

<h2>Here Are The Results Of Your Search</h2>
<h3></h3>
<ul>
  {{!--<li></li> WILL THIS BE CREATED DYNAMICALLY OR DOES THE PAGE REQUIRE AN LI?--}}
  {{#each allData}}
  <li>
    <a href="/tender/{{id}}">
      <h3>{{department}}</h3>
    </a>
      <p>{{description}}</p>
      <p>{{awardedDate}}</p>
      <p id="dateAmount">R {{value}}</p>
  </li>
  <hr>
  {{/each}}
</ul>
