<style>

  ul {
    padding: 0;
  }
  li {
    text-align: left;
    padding: 0.6rem 2rem;
    max-width: 90%;
  }
  .value-block {text-align: right;}
</style>

<h2>Here Are The Results Of Your Search</h2>

<h3>Results: Companies</h3>
<ul class="list">
  {{#each vendorMatches}}
  <li>
    <h3>
      <a href="/tender/{{id}}">{{vendor}}</a>
    </h3>
    <p>{{description}}</p>
    <p class="date-block">{{awardedDate}}</p>
    <p class="value-block">R {{value}}</p>
  </li>
  <hr> {{/each}}
</ul>

{{#if industryMatches}}
<h3>Results: Departments</h3>
{{/if}}
<ul class="list">
  {{!--
  <li></li> WILL THIS BE CREATED DYNAMICALLY OR DOES THE PAGE REQUIRE AN LI?--}} 
  {{#each industryMatches}}
  <li>

    <h3>
      <a href="/tender/{{id}}">{{industry}}</a>
    </h3>
    <p>{{description}}</p>
    <p class="date-block">{{awardedDate}}</p>
    <p class="value-block">R {{value}}</p>
  </li>
  <hr> {{/each}}
</ul>

{{#if dateMatches}}
<h3>Results: Departments</h3>
{{/if}}
<ul class="list">
  {{!--
  <li></li> WILL THIS BE CREATED DYNAMICALLY OR DOES THE PAGE REQUIRE AN LI?--}} 
  {{#each dateMatches}}
  <li>
    <h3>
      <a href="/tender/{{no}}">{{department}}</a>
    </h3>
    <p>{{description}}</p>
    <p class="date-block">{{awardedDate}}</p>
    <p class="value-block">R {{value}}</p>
  </li>
  <hr> {{/each}}
</ul>

